<app-form-input
  [inputFormControl]="addressForm.get('country')"
  type="text"
  label="Country"
></app-form-input>
<app-form-input
  [inputFormControl]="addressForm.get('city')"
  type="text"
  label="City"
></app-form-input>
<app-form-input
  [inputFormControl]="addressForm.get('code')"
  type="text"
  label="Code"
></app-form-input>
<app-form-input
  [inputFormControl]="addressForm.get('street')"
  type="text"
  label="Street"
></app-form-input>
<app-form-input
  [inputFormControl]="addressForm.get('building')"
  type="text"
  label="Building"
></app-form-input>
