:host {
  display: block;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  padding: 50px 0;
}

form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;

  fieldset,
  [type="submit"] {
    grid-column: span 2;
  }

  [type="submit"] {
    border: 1px solid grey;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 5px 10px;
    &:not(:disabled) {
      cursor: pointer;
      background-color: green;
      color: white;
    }
    &:hover:disabled{
      text-decoration: line-through;
    }
  }
}
