<h1>This is a meaningless form that doesn't submit</h1>

<form [formGroup]="userFormGroup" (ngSubmit)="onFormSubmit()">
  <app-form-input
    [inputFormControl]="userFormGroup.controls.registered"
    type="date"
    label="Registered"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.name"
    type="text"
    label="Name"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.isActive"
    type="checkbox"
    label="Is active"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.age"
    type="number"
    label="Age"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.balance"
    type="number"
    label="Balance"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="
      userFormGroup.controls.contacts.controls.address.controls.city
    "
    type="text"
    label="City"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="
      userFormGroup.controls.contacts.controls.address.controls.street
    "
    type="text"
    label="Street"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="
      userFormGroup.controls.contacts.controls.address.controls.building
    "
    type="text"
    label="Building"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="
      userFormGroup.controls.contacts.controls.address.controls.apartment
    "
    type="text"
    label="Appartment"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.contacts.controls.email"
    type="email"
    label="Email"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.contacts.controls.phone"
    type="tel"
    label="Phone"
  ></app-form-input>

  <app-form-input *ngFor="let i of userFormGroup.controls.friends.controls"
  [inputFormControl]="i.controls.name"
  type="text"
  label="FRIEND?"
></app-form-input> 

  <input type="submit" value="submit form" [disabled]="userFormGroup.invalid" />
</form>
