<h1>This is a meaningless form that doesn't submit</h1>

<form [formGroup]="userFormGroup" (ngSubmit)="onFormSubmit()">
  <app-form-input
    [inputFormControl]="userFormGroup.controls.name"
    type="text"
    label="Name"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.registered"
    type="date"
    label="Registration date"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.about"
    type="text"
    label="About"
  ></app-form-input>

  <app-form-input
    [inputFormControl]="userFormGroup.controls.balance"
    type="text"
    label="Balance"
  ></app-form-input>

  <fieldset *ngIf="userFormGroup.controls.contacts as contacts">
    <legend>Contacts</legend>

    <ng-container *ngIf="contacts.controls.address as address">
      <app-form-input
        [inputFormControl]="address.controls.city"
        type="text"
        label="City"
      ></app-form-input>

      <app-form-input
        [inputFormControl]="address.controls.street"
        type="text"
        label="Street"
      ></app-form-input>

      <app-form-input
        [inputFormControl]="address.controls.building"
        type="text"
        label="Building"
      ></app-form-input>

      <app-form-input
        [inputFormControl]="address.controls.apartment"
        type="text"
        label="Apartment"
      ></app-form-input>
    </ng-container>
  </fieldset>

  <ng-container *ngFor="let friend of userFormGroup.controls.friends.controls">
    <app-form-input
      [inputFormControl]="friend.controls.name"
      type="text"
      label="Friend"
    ></app-form-input>
  </ng-container>

  <input type="submit" value="submit form" [disabled]="userFormGroup.invalid" />
</form>
